.container__footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 0;
}

.container__footer > ul {
  list-style: none;
}

.container__footer > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 3px;
}
