<div class="container__big-card">
  <ng-container *ngIf="hrefLink; else routerLinkTemplate">
    <a [attr.href]="hrefLink" target="_blank">
      <div class="big-card__photo">
        <img src="{{ photoCover }}" alt="" [style.height]="photoHeight" />
      </div>
      <div class="big-card__details">
        <div class="big-card__title">
          <h1>{{ cardTitle }}</h1>
        </div>
        <div class="big-card__description">
          <p>{{ cardDescription }}</p>
        </div>
      </div>
    </a>
  </ng-container>
  <ng-template #routerLinkTemplate>
    <a [routerLink]="['/blog', Id]" [queryParamsHandling]="'merge'">
      <div class="big-card__photo">
        <img src="{{ photoCover }}" alt="" [style.height]="photoHeight" />
      </div>
      <div class="big-card__details">
        <div class="big-card__title">
          <h1>{{ cardTitle }}</h1>
        </div>
        <div class="big-card__description">
          <p>{{ cardDescription }}</p>
        </div>
      </div>
    </a>
  </ng-template>
</div>
