.container__big-card {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

.big-card__details {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-card__title {
  display: flex;
}

.big-card__title > a > h1 {
  /* margin-top: 0.75rem; */
  font-size: 1.5rem;
  font-weight: 600;
}

.big-card__title > a > h1:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.big-card__description > p {
  /* margin-top: 0.75rem; */
  color: #667085;
  font-size: 1rem;
  font-weight: 400;
}

.big-card__photo > img {
  border-radius: 0.5rem;
  width: 100%;
}
