<div class="container__subscribe-news">
  <div class="newslatter-tag">
    <p>Newsletters</p>
  </div>
  <div class="title__subscribe-news">
    <h1>Stories and interviews</h1>
  </div>
  <div class="newslatter-description">
    <p>
      Subscribe to learn about new product features, the latest in technology,
      solutions, and updates.
    </p>
  </div>
  <div class="newslatter-subscribe">
    <form action="#">
      <input class="email-input" type="email" placeholder="Enter your email" />
      <input class="subscribe-button" type="submit" value="Subscribe" />
    </form>
    <p>
      We care about your data in our
      <a href="#"> privacy policy </a>
    </p>
  </div>
</div>
