.container__menu-title {
  margin: 1.5rem 0;
  color: #1a1a1a;
}

.container__menu-title > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 220px;
  font-weight: bold;
  display: flex;
  justify-content: center;

  margin: 0 1.5rem;
}

.container__menu-title > hr {
  opacity: 50%;
}
