@media screen and (min-width: 280px) {
  .container__menu-title > h1 {
    line-height: normal;
  }
}

@media screen and (min-width: 1600px) {
  .container__menu-title > h1 {
    font-size: 14.75vw;
    line-height: 13vw;
  }
}

@media screen and (min-width: 1921px) {
}
