.container__body {
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
}

.container__body > * {
  grid-column: 2;
}

.app__menu-title[fontSize] {
  font-size: 160px;
}

.footer {
  margin: 4rem 0 2rem;
}
