.about__photo {
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
}

.about__photo > img {
  grid-column: 2;
}

.about__align {
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
}

.about__text {
  grid-column: 2;
}

.footer {
  margin: 4rem 0 2rem;
  display: grid;
  justify-content: center;
}
