<div class="menu__title">
  <hr />
  <h1>Eduardo Ramos</h1>
  <hr />
</div>
<div class="about__align">
  <div class="about__photo">
    <img src="../../../assets/img/profile-picture.jpg" alt="" />
  </div>
  <div class="about__text">
    <h2>About Me</h2>
    <p>
      Olá! Me chamo Eduardo Ramos e estou atualmente cursando Análise e
      Desenvolvimento de Sistemas (ADS), uma área que combina minha paixão por
      tecnologia com a capacidade de criar soluções inovadoras. Estou
      constantemente buscando aprender mais sobre programação, desenvolvimento
      de software e todas as novidades do mundo da tecnologia.<br />
      Além disso, tenho um forte interesse em arte, gosto de explorar diferentes
      formas de expressão artística.<br />
      Por fim, sou um entusiasta de jogos e videogames. Adoro mergulhar em novos
      mundos virtuais, explorar narrativas envolventes e desafiar minha
      habilidade em jogos de estratégia e aventura.<br />Estou sempre atento às
      últimas tendências e lançamentos no mundo dos jogos. No geral, sou uma
      pessoa curiosa e apaixonada por aprender, sempre buscando novas
      oportunidades para expandir meu conhecimento e habilidades em tecnologia,
      arte e jogos.
    </p>
    <h2>Skills</h2>
    <ul>
      <li>
        <p>HTML/CSS:</p>
        Domínio em estruturar e estilizar páginas web, garantindo layouts
        atraentes e responsivos.
      </li>
      <li>
        <p>JavaScript:</p>
        Conhecimento prático em manipulação de DOM, eventos e desenvolvimento de
        funcionalidades interativas.
      </li>
      <li>
        <p>Desenvolvimento Web Responsivo:</p>
        Capacidade de criar sites que se adaptam a diferentes dispositivos e
        tamanhos de tela.
      </li>
      <li>
        <p>Proatividade e Aprendizado Contínuo:</p>
        Comprometimento em melhorar constantemente minhas habilidades e estar
        atualizado com as últimas tendências e tecnologias no desenvolvimento
        web.
      </li>
    </ul>
  </div>
</div>
