@media screen and (min-width: 280px) {
  .menu__title > h1 {
    line-height: normal;
  }
}

@media screen and (min-width: 800px) {
  .about__photo > img {
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
  }
  .about__photo > img:hover {
    transform: scale(1.0125);
  }
}

@media screen and (min-width: 1600px) {
  .menu__title > h1 {
    font-size: 10vw;
    line-height: 10vw;
  }
}

@media screen and (min-width: 1921px) {
  .menu__title > h1 {
    font-size: 10vw;
  }
  .about__photo > img {
    height: 100%;
    max-height: 25vw;
    margin-top: 2vw;
  }
}
