.night,
.night > * {
  background-color: #090d1f;
}

.container__main {
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
}

.main-content {
  grid-column: 1;
}

.navbar,
.footer {
  grid-column: 2;
}
