@media screen and (min-width: 280px) {
  .container__main {
    grid-template-columns: 5% 90% 5%;
  }
}

@media screen and (min-width: 375px) {
  .container__main {
    grid-template-columns: 5% 90% 5%;
  }
}

@media screen and (min-width: 1025px) {
  .container__main {
    grid-template-columns: 7.5% 85% 7.5%;
  }
}

@media screen and (min-width: 1600px) {
  .container__main {
    grid-template-columns: 10% 80% 10%;
  }
}
