@media screen and (min-width: 280px) {
  .container__main {
    grid-template-columns: 5% 90% 5%;
  }
  .navbar.fixed-header {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 1440px) {
  .container__main {
    grid-template-columns: 7.5% 85% 7.5%;
  }
  .navbar.fixed-header {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
  }
}

@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1921px) {
}
