<div class="separator">
  <hr />
</div>
<div class="container__pagination">
  <div class="previous-page">
    <a href="#"
      ><img
        src="../../../assets/img/leftarrowicon.png"
        alt="Left Arrow Icon"
        width="20px"
        height="20px"
      />
    </a>
    <p>Previous</p>
  </div>
  <div class="page-numbers">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">...</a>
    <a href="#">8</a>
    <a href="#">9</a>
    <a href="#">10</a>
  </div>
  <div class="next-page">
    <p>Next</p>
    <a href="#"
      ><img
        src="../../../assets/img/rightarrowicon.png"
        alt="Right Arrow Icon"
        width="20px"
        height="20px"
    /></a>
  </div>
</div>
