<div class="separator">
  <hr />
</div>
<div class="container__pagination">
  <div class="previous-page">
    <a href="#">
      <svg
        class="left-arrow-icon"
        width="14"
        height="15"
        viewBox="0 0 14 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.8334 7.49984H1.16669M1.16669 7.49984L7.00002 13.3332M1.16669 7.49984L7.00002 1.6665"
          stroke-width="1.67"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
    <p>Previous</p>
  </div>
  <div class="page-numbers">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">...</a>
    <a href="#">8</a>
    <a href="#">9</a>
    <a href="#">10</a>
  </div>
  <div class="next-page">
    <p>Next</p>
    <a href="#"
      ><svg
        class="right-arrow-icon"
        width="14"
        height="15"
        viewBox="0 0 14 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.16666 7.49984H12.8333M12.8333 7.49984L6.99999 1.6665M12.8333 7.49984L6.99999 13.3332"
          stroke-width="1.67"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</div>
