.container__pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.separator {
  width: 100%;
}

.separator > hr {
  margin: 2rem 0 1.5rem;
  opacity: 50%;
}

.previous-page {
  grid-column: 1;
  justify-content: left;
}

.next-page {
  grid-column: 3;
  justify-content: right;
}

.previous-page,
.next-page {
  display: flex;
  gap: 0.625rem;
}

.previous-page > p,
.next-page > p {
  /* position: relative;
  top: 1px; */
  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
}

.previous-page > a,
.next-page > a {
  height: 20px;
}

.left-arrow-icon,
.right-arrow-icon {
  stroke: grey;
}

.page-numbers {
  display: flex;
  grid-column: 2;
  justify-content: center;
}

.page-numbers > a {
  margin: 0 0.25rem;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
