.container__small-card {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 592px;
  margin-top: 2rem;
}

.small-card__photo > img {
  width: 320px;
  min-width: 320px;
  height: 200px;
}

.small-card__details {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.small-card__title {
  display: flex;
  align-items: center;
}

.small-card__title > a > h1 {
  font-size: 1.125rem;
  font-weight: 600;
}

.small-card__description {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.small-card__description > p {
  color: #667085;
  font-size: 1rem;
  font-weight: 400;
}
