.container__small-card {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  /* width: 592px; */
  margin-top: 2rem;
}

.small-card__photo {
  min-width: 50%;
}

.small-card__photo > img {
  /* width: 320px;
  min-width: 320px; */
  border-radius: 0.5rem;
  width: 100%;
}

.small-card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.small-card__title {
  display: flex;
}

.small-card__title > a > h1 {
  font-size: 1.125rem;
  font-weight: 600;
}

.small-card__title > a > h1:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.small-card__description {
  display: flex;
  margin-top: 0.5rem;
  /* max-width: 342px; */
}

.small-card__description > p {
  color: #667085;
  font-size: 1rem;
  font-weight: 400;
}
