<header>
  <app-menu-bar></app-menu-bar>
</header>
<div class="container__body">
  <!-- <div class="title-align">
  </div> -->
  <div class="article__blog">
    <div class="title__recent-posts">
      <h2>Recent blog posts</h2>
    </div>
    <div class="articles__others">
      <div class="articles__other-1">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-2">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-3">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-4">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-5">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-6">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-7">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-8">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-9">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-10">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-11">
        <app-small-card></app-small-card>
      </div>
      <div class="articles__other-12">
        <app-small-card></app-small-card>
      </div>
    </div>
    <div class="title__blog-post">
      <h1>Blog Post Title</h1>
    </div>
    <div class="content__projects">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div>
    <div class="content__wide-project">
      <app-big-card></app-big-card>
    </div>
    <div class="content__projects-2">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div>
    <div class="content__newsletter">
      <app-subscribe-news></app-subscribe-news>
    </div>
  </div>
  <div class="footer-align">
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
