.content__cover > img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  max-height: 35vw;
}

.articles__others {
  grid-column: 1;
}

.article__blog {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 2rem;
  margin: 2rem 0;
}

.title__blog-post > h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.title__recent-posts {
  grid-column: 1;
  align-items: center;
}

.articles__others {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}

.title__blog-post {
  grid-row: 1;
  grid-column: 2;
}

.container__right {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.content__description {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.content__description h2 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.content__description h2.nomarg {
  margin-top: auto;
}

.content__description h2.sub-title {
  margin-top: auto;
  font-size: 1.125rem;
}

.content__description p {
  line-height: 1.5rem;
  word-spacing: 0.2rem;
}

.content__description img {
  width: 100%;
  height: 100%;
  max-height: 35vw;
}

.content__description img.gif {
  max-height: 15vw;
}

.content__description .separator-hr {
  margin: 2rem 0;
}

.content__projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.content__wide-project {
  display: grid;
  grid-template-columns: 1fr;
}

.content__projects-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.content__newsletter {
  margin-top: 5rem;
}

/* .footer {
  margin: 4rem 0 2rem;
} */
