.night,
.night > * {
  background-color: #090d1f;
}

.container__articles {
  margin: 2rem 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
}

.articles__recent-posts {
  margin-top: 1.5rem;
  display: grid;
  justify-content: left;
}

.articles__recent-posts > h2 {
  grid-column: 2;
  font-size: 1.5rem;
  font-weight: 600;
}

.articles__others {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articles__bottom {
  margin: 3rem 0;
}

.title__all-blog-posts {
  margin-top: 1.5rem;
  display: grid;
  justify-content: left;
}

.title__all-blog-posts > h2 {
  grid-column: 3;
  font-size: 1.5rem;
  font-weight: 600;
}

.articles__all-blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  justify-content: center;
}

.pagination {
  margin: 2.5rem 0 2rem;
}
