<div class="container__body">
  <header>
    <app-menu-bar></app-menu-bar>
  </header>

  <app-menu-title></app-menu-title>
  <div class="articles__recent-posts">
    <h3>Recent blog posts</h3>
  </div>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
  </div>
  <div class="articles__bottom">
    <app-bottom-card></app-bottom-card>
  </div>
  <div class="title__all-blog-posts">
    <h3>All blog posts</h3>
  </div>
  <div class="articles__all-blog-posts">
    <app-medium-card></app-medium-card>
    <app-medium-card></app-medium-card>
    <app-medium-card></app-medium-card>
    <app-medium-card></app-medium-card>
    <app-medium-card></app-medium-card>
    <app-medium-card></app-medium-card>
  </div>
  <div class="pagination">
    <app-pagination></app-pagination>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
