.container__bottom-card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.bottom-card__photo {
  min-width: 50%;
  /* height: 246px; */
}

.bottom-card__photo > img {
  border-radius: 0.5rem;
  width: 100%;
}

.bottom-card__details {
  /* margin-top: 2rem; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.bottom-card__title {
  display: flex;
}

.bottom-card__title > a > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.bottom-card__title > a > h1:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.bottom-card__description > p {
  color: #7b8aab;
  font-size: 1rem;
  font-weight: 400;
}
