.container__bottom-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}

.bottom-card__photo {
  height: 246px;
}

.bottom-card__photo > img {
  width: 100%;
}

.bottom-card__details {
  margin-top: 2rem;
}

.bottom-card__title > a > h1 {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.bottom-card__title > a > h1:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.bottom-card__description > p {
  margin-top: 0.75rem;
  color: #667085;
  font-size: 1rem;
  font-weight: 400;
}
