@media screen and (min-width: 280px) {
  .container__bottom-card {
    flex-direction: column;
  }
  .bottom-card__photo > img {
    height: 246px;
  }
  .bottom-card__details {
    width: 100%;
  }
  .bottom-card__title > a > h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 375px) {
  .container__bottom-card {
    flex-direction: column;
  }
  .bottom-card__photo > img {
    height: 246px;
  }
  .bottom-card__details {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .container__bottom-card {
    flex-direction: column;
  }
  .bottom-card__photo > img {
    height: 346px;
  }
}

@media screen and (min-width: 1025px) {
  .container__bottom-card {
    flex-direction: row;
  }
  .bottom-card__title > a > h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .bottom-card__photo > img {
    border-radius: 0.5vw;
    height: 100%;
  }
  .bottom-card__title > a > h1 {
    font-size: 2vw;
  }
  .bottom-card__description > p {
    font-size: 1vw;
    line-height: normal;
  }
  .container__bottom-card {
    gap: 2vw;
  }
  .bottom-card__details {
    gap: 0.75vw;
  }
}
