<div class="container__bottom-card">
  <ng-container *ngIf="hrefLink; else routerLinkTemplate">
    <a
      [attr.href]="hrefLink"
      target="_blank"
      [style.flex-direction]="elementDirection"
    >
      <div class="bottom-card__photo">
        <img
          [src]="photoCover"
          alt=""
          [style.height]="photoHeight"
          [style.max-height]="photoMaxHeight"
        />
      </div>
      <div class="bottom-card__details">
        <div class="bottom-card__title">
          <h1>{{ cardTitle }}</h1>
        </div>
        <div class="bottom-card__description">
          <p id="paragraphText">{{ cardDescription }}</p>
        </div>
      </div>
    </a>
  </ng-container>
  <ng-template #routerLinkTemplate>
    <a
      [routerLink]="['/blog', Id]"
      [queryParamsHandling]="'merge'"
      [style.flex-direction]="elementDirection"
    >
      <div class="bottom-card__photo">
        <img
          [src]="photoCover"
          alt=""
          [style.height]="photoHeight"
          [style.max-height]="photoMaxHeight"
        />
      </div>
      <div class="bottom-card__details">
        <div class="bottom-card__title">
          <h1>{{ cardTitle }}</h1>
        </div>
        <div class="bottom-card__description">
          <p id="paragraphText">{{ cardDescription }}</p>
        </div>
      </div>
    </a>
  </ng-template>
</div>
