@media screen and (min-width: 280px) {
  .content__projects {
    grid-template-columns: none;
  }
  .wide-project-1 {
    display: flex;
  }
  .wide-project-2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .content__projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .title__list-project > h1 {
    font-size: 1.5vw;
  }
  .content__projects {
    gap: 1.5vw;
  }
}

@media screen and (min-width: 1600px) {
  .menu__title > h1 {
    font-size: 14.5vw;
  }
}

@media screen and (min-width: 1921px) {
  .wide-project-1 {
    display: none;
  }
  .wide-project-2 {
    display: flex;
  }
  .content__projects {
    gap: 2vw;
  }
  .article__projects {
    display: grid;
    gap: 2vw;
  }
  .title__list-project > h1 {
    margin: 1.5vw 0 1vw;
  }
}
