<div class="container__body">
  <header>
    <app-menu-bar></app-menu-bar>
  </header>
  <div class="menu__title">
    <app-menu-title></app-menu-title>
  </div>
  <div class="article__projects">
    <div class="title__list-project">
      <h2>List Project</h2>
    </div>
    <div class="content__projects">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div>
    <div class="content__wide-project">
      <app-big-card></app-big-card>
    </div>
    <div class="content__projects">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div>
  </div>
  <div class="footer-align">
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
