.night,
.night > * {
  background-color: #090d1f;
}

.content__newsletter {
  margin-top: 2rem;
}

.title__all-blog-posts {
  margin-top: 2rem;
}

.title__all-blog-posts > h2 {
  grid-column: 3;
  font-size: 1.5rem;
  font-weight: 600;
}

.articles__all-blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
}
