<div class="container__menu-bar">
  <div class="left-menu-bar">
    <ul>
      <li>Your Name</li>
    </ul>
  </div>
  <div class="right-menu-bar">
    <ul>
      <li><a href="/">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
      <!-- night and day mode button
      <li><a href="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </a></li> -->
    </ul>
    <a href="">
      <img src="../../../assets/img/menu.svg" alt="" />
    </a>
  </div>
</div>
