@media screen and (min-width: 280px) {
  .right-menu-bar > ul {
    display: none;
  }
  .right-menu-bar > button {
    display: block;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 800px) {
  .right-menu-bar > ul {
    display: flex;
  }
  .right-menu-bar > button {
    display: none;
  }
}

@media screen and (min-width: 1921px) {
  .container__menu-bar {
    margin: 1vw 0;
  }
  .left-menu-bar > ul > li,
  .right-menu-bar > ul > li > a {
    font-size: 1.25vw;
  }
  .right-menu-bar > ul {
    gap: 1.5vw;
  }
  #lightModeIcon {
    width: 4vw;
    height: 2vw;
  }
}
