@media screen and (min-width: 280px) {
  .container__big-bottom-card > a {
    flex-direction: column;
  }
  .big-bottom-card__details {
    width: 100%;
  }
  .big-bottom-card__title > h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 800px) {
  .container__big-bottom-card {
    transition: transform 0.3s ease-in-out;
  }
  .container__big-bottom-card > a {
    flex-direction: column;
  }
  .container__big-bottom-card:hover {
    transform: scale(1.025);
  }
}

@media screen and (min-width: 1025px) {
  .big-bottom-card__title > h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1921px) {
  .big-bottom-card__photo > img {
    border-radius: 0.5vw;
    height: 100%;
    max-height: 37.5vw;
  }
  .big-bottom-card__title > h1 {
    font-size: 2vw;
  }
  .big-bottom-card__description > p {
    font-size: 1vw;
    line-height: normal;
  }
  .container__big-bottom-card > a {
    gap: 2vw;
  }
  .big-bottom-card__details {
    gap: 0.75vw;
  }
}
