<div class="container__big-bottom-card">
  <a [routerLink]="['blog', Id]" [style.flex-direction]="elementDirection">
    <div class="big-bottom-card__photo">
      <img
        src="{{ photoCover }}"
        alt=""
        [style.height]="photoHeight"
        [style.max-height]="photoMaxHeight"
      />
    </div>
    <div class="big-bottom-card__details">
      <div class="big-bottom-card__title">
        <h1>{{ cardTitle }}</h1>
      </div>
      <div class="big-bottom-card__description">
        <p id="paragraphText">
          {{ cardDescription }}
        </p>
      </div>
    </div>
  </a>
</div>
