.container__big-bottom-card > a {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.big-bottom-card__photo {
  min-width: 50%;
}

.big-bottom-card__photo > img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.big-bottom-card__details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.big-bottom-card__title > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.container__big-bottom-card:hover h1 {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 3px;
}

.big-bottom-card__description > p {
  color: #7b8aab;
  font-size: 1rem;
  font-weight: 400;
}

.column-direction {
  flex-direction: column;
}
