/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background-night-color: #090d1f;
  --background-light-color: #ffffff;
  color: #1a1a1a;

  font-family: "Montserrat", sans-serif;
}

html.light,
html.light * {
  color: #1a1a1a;
  background-color: var(--background-light-color);
  /* transition: background-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    color 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}

html.night,
html.night * {
  color: #ffffff;
  background-color: var(--background-night-color);
  /* transition: background-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    color 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}

html.transition,
html.transition * {
  transition: background-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    color 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}

html #moon-icon {
  display: none;
}

html.night #moon-icon {
  display: block;
}

html.light .close-menu > svg {
  fill: #090d1f;
}

html.night .close-menu > svg {
  fill: #ffffff;
}

html.light .page-numbers > a:hover {
  color: #5527b8;
  background-color: #dfcff8;
}

html.night .page-numbers > a:hover {
  color: #e1e5fd;
  background-color: #6592a7;
}

a {
  text-decoration: none;
}
